.home {
  height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
  @media all and (max-width: 850px) {
    grid-template-columns: 100%;
  }
  &-image {
    height: 95%;
    background-color: $purple;
    overflow: hidden;
    @media all and (max-width: 850px) {
      display: none;
    }
    &-illus {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      filter: brightness(0.65);
      transition: filter 0.7s ease;
      &:hover {
        cursor: url("../../images/venus-white.svg"), auto;
        filter: brightness(0.75);
      }
    }
  }
  &-firstmessage {
    cursor: url("../../images/venus.svg"), auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(0px, -30px);
    align-items: center;
    text-align: center;
    &_logo {
      border-radius: 50%;
      width: 110px;
      height: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      &-image {
        width: 70px;
        height: 70px;
      }
    }
    &_text {
      color: $purple;
      font-size: 40px;
      max-width: 360px;
    }
    &_button {
      margin-top: 30px;
      width: 100px;
      height: 40px;
      border-radius: 10px;
      border: 1px solid $orange;
      background-color: $orange;
      color: $white;
      cursor: pointer;
      font-size: 15px;
      box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.15);
      &:hover {
        background-color: $white;
        color: $purple;
      }
    }
  }
}

// Animations

.scale-up-hor-left {
  animation: scale-up-hor-left 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@keyframes scale-up-hor-left {
  0% {
    transform: scaleX(0.4);
    transform-origin: 0% 0%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}

.shadow-drop-center {
  animation: shadow-drop-center 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
