@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

button:focus {
  outline: 0;
}

html,
body {
  margin: 0;
}

#App {
  font-family: "Roboto Mono", monospace;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
  position: relative;
}

.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #f9b623;
}

.bm-item:focus {
  outline: 0;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #a3195b;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* General sidebar styles */
.bm-menu {
  background: #a3195b;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
