.reset {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: $orange;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 61%;
  color: $white;
  border: 1px solid $orange;
  background-color: $white;
  color: $purple;
  transition: ease-in 0.4s;
  &-logo {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  &:hover {
    border: none;
    background-color: $orange;
    color: $white;
  }
  @media all and (max-width: 850px) {
    left: 20px;
    z-index: 99;
  }
}
